extends layout-simple

block content
  .container
    .not-found.text-center
      h1 Oops!
      p This is broken...
      img.img-responsive(src="/img/tx_404.png")
      br
      a.btn(href="http://rct.torx.dev:3000") Return to the Party
